body {
  background-color: #121212;
  color: #e0e0e0;
}

header {
  background-color: #282828;
  padding: 1rem 0;
  border-radius: 1022px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 102px; /* Add border-radius here */
  padding: 0.5rem 1rem; /* Optional: Add padding for better appearance */
}

nav a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  border-radius: 10px;
}

nav a:hover {
  color: #61dafb;
}